<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
        <title>Codevision</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <h2>Authentication:</h2>
        <% if(!currentUser){ %>
            <p>You are not logged in.</p>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        <% } else { %>
            <p>You are logged in as <strong><%= currentUser.username %></strong></p>
            <li><a href="/logout">Logout</a></li>
        <% } %>

        <br>
        <br>

        <h2>Flash messages</h2>
        <% if(error && error.length > 0){ %>
            <p><%= error %></p>
        <% } %>
        <% if(success && success.length > 0){ %>
            <p class="alert alert-success" role="alert"><%= success %></p>
        <% } %>