<% include ../partials/header %>

<div class="ui page grid">
    <div class="row">
        <form class="ui form large" action="/courses" method="post">
            <div class="field">
                <label>Search for a course ...</label>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Search term">
                </div>
            </div>
            <button class="ui primary large circular right labeled icon float button auth">
                <i class="search icon"></i>
                Search
            </button>
        </form>
    </div>
</div>
<% courses.forEach(function(course){ %>
    <br>
    <br>
    <img src="<%= course.thumbnail %>">
    <div class="caption">
        <h4><%= course.title %></h4>
    </div>
    <p>
        <a href="/courses/<%= course._id %>" class="btn btn-primary">View</a>
    </p>
<% }); %>

<% include ../partials/footer %>