<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/main-no-background.css">
    <div class="ui page grid">
        <div class="row">
            <form class="ui form" action="/courses" method="post">
                <div class="ui huge header motivation-line">Create new Course</div>
                <div class="ui medium header motivation-line">Power is gained by sharing knowledge, not hoarding it.</div>
                <div class="field">
                    <label>Course Title</label>
                    <div class="form-group">
                        <input required class="form-control" type="text" name="course[title]" placeholder="Title">
                    </div>
                </div>
                <div class="field">
                    <label>Thumbnail</label>
                    <div class="form-group">
                        <input required class="form-control" type="text" name="course[thumbnail]" placeholder="Image URL">
                    </div>
                </div>
                <div class="field">
                    <label>Description</label>
                    <div class="form-group">
                        <textarea rows="10" required class="form-control" name="course[description]" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="field">
                    <label>You will need to make your course public later.</label>
                </div>
                <div class="field">
                    <button class="ui primary circular right labeled icon float button auth">
                        <i class="right arrow icon"></i>
                        Create Course
                    </button>
                </div>
            </form>
        </div>
    </div>
    <% if(error && error.length > 0){ %>
        <div class="ui red inverted segment flash-segment"><i class="exclamation circle icon"></i> <%= error %></div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="ui blue inverted segment flash-segment"><%= success %></div>
    <% } %>

    <% include ../partials/footer %>