<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/public/stylesheets/main-no-background.css">
<link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <div class="ui page grid">
        <div class="row">
            <form class="ui form" action="/courses/<%= course._id %>/sections" method="post">
                <div class="ui huge header motivation-line">Create new Section</div>
                <div class="ui medium header motivation-line">Power is gained by sharing knowledge, not hoarding it.</div>
                <div class="field">
                    <label>Section Title</label>
                    <div class="form-group">
                        <input required class="form-control" type="text" name="section[title]" placeholder="Title">
                    </div>
                </div>
                <div class="field">
                    <label>Thumbnail</label>
                    <div class="form-group">
                        <input required class="form-control" type="text" name="section[thumbnail]" placeholder="Image URL">
                    </div>
                </div>
                <div class="field">
                    <label>Description</label>
                    <div class="form-group">
                        <textarea rows="5" required class="form-control" name="section[description]" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="form-group">
                        <input id="hidden" required class="form-control" type="hidden" name="section[content]" placeholder="Content">
                    </div>
                </div>
                <div class="field">
                    <label>Content</label>
                    <div class="editor-container">
                    </div>
                </div>
                <div class="field">
                    <label>Pro tip: Dividing your content into smaller parts using headers makes it easier for users to read and understand.</label>
                </div>
            </form>
            <div class="field">
                <button class="ui primary circular right labeled icon float button auth">
                    <i class="right arrow icon"></i>
                    Create Section
                </button>
            </div>
        </div>
    </div>
    <% if(error && error.length > 0){ %>
        <div class="ui red inverted segment flash-segment"><i class="exclamation circle icon"></i> <%= error %></div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="ui blue inverted segment flash-segment"><%= success %></div>
    <% } %>

    <% include ../partials/footer %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script>
        $(document).ready(function() {
            $('pre').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });

        var quill = new Quill('.editor-container', {
            modules: {
                syntax: true,
                toolbar: [
                    [{ header: [1, 2, false] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    ['link', 'image', 'code-block']
                ]
            },
            placeholder: 'Your content here...',
            theme: 'snow'  // or 'bubble'
        });
        $(document).ready(function(){
            $(".ui.button").on("click", function(e){
                e.preventDefault();
                $("#hidden").val(quill.container.firstChild.innerHTML);
                $("form").submit();
            });
        });
    </script>