<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
        <title>Codevision</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/main.css">
    </head>
    <body>
        <div class="ui page grid">
            <div class="row">
                <form class="ui form" action="/register" method="post">
                    <div class="ui huge header motivation-line white">Register</div>
                    <div class="ui medium header motivation-line white">Ready to thrive?</div>
                    <div class="field">
                        <label class="white">Username</label>
                        <div class="form-group">
                            <input class="form-control white" type="text" name="username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <label class="white">Email</label>
                        <div class="form-group">
                            <input class="form-control white" type="email" name="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="white">Avatar</label>
                        <div class="form-group">
                            <input class="form-control white" type="text" name="avatar" placeholder="Avatar Image URL">
                        </div>
                    </div>
                    <div class="field">
                        <label class="white">Biography</label>
                        <div class="form-group">
                            <input class="form-control white" type="text" name="biography" placeholder="Biography">
                        </div>
                    </div>
                    <div class="field">
                        <label class="white">Password</label>
                        <div class="form-group">
                            <input class="form-control white" type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <label class="white">Already have an account? Try <a href="/login">logging in</a> instead.</label>
                    </div>
                    <div class="field">
                        <button class="ui primary circular right labeled icon float button auth">
                            <i class="right arrow icon"></i>
                            Create Account
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <% if(error && error.length > 0){ %>
            <div class="ui red inverted segment flash-segment"><i class="exclamation circle icon"></i> <%= error %></div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="ui blue inverted segment flash-segment"><%= success %></div>
        <% } %>
    </body>
</html>
<% include ../partials/footer %>