<% include partials/header %>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/main-no-background.css">

<div id="error_grid" class="ui page equal width center aligned grid">
    <div class="item">
        <img id="cat" src="https://i.pinimg.com/564x/d3/aa/57/d3aa57b0085794231a22019680da4685--keyboard-your-pet.jpg">
    </div>
    <div class="item">
        <div id="error_code" class="ui blue huge header">404</div>
        <div class="ui grey small header">Woops.</div>
        <div class="ui grey small header"><a class="ui blue small header" id="take_me_home" href="/">Take me Home <i class="right arrow icon"></i></a> </div>
    </div>
</div>
<% include partials/footer %>