<% include partials/header %>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/main-no-background.css">

<div class="ui page equal width grid">
        <h2 class="ui blue header about-us-subtitle"><i class="chevron right icon"></i> How it started</h2>
        <h2 class="ui blue header about-us-text">Codevision was originally created to be a place for people within the Minecraft Modding community to be able to chat in real-time with other programmers. During its existence, hundreds of developers have arrived and the community now have programmers of all kinds around the globe.</h2>
        <h2 class="ui blue header about-us-subtitle"><i class="chevron right icon"></i> The Community</h2>
        <h2 class="ui blue header about-us-text">Our wonderful community will welcome you to the server regardless of you previous experience with programming. It's easy to get integrated into the community as you will easily find users who share the same interests as you. Our staff team consists of 4 users who are always aiming to create a nice vibe in the community. If you find something that worries you, let the staff know and they will assist you as quick as possible.</h2>
        <h2 class="ui blue header about-us-subtitle"><i class="chevron right icon"></i> Our Vision</h2>
        <h2 class="ui blue header about-us-text">Getting real-time help by chatting with users can be extremely helpful if done correctly, that's why we always aim to clear out abusive users to make sure you can discuss, assist and get assistance from users at all times. That's our vision.</h2>
        <br>
</div>
<br>
<p class="banner-text">Advertisement</p>
<a href="http://track.creavite.co/?ref=pim&site=codevision" target="_blank">
    <img class="banner" src="https://static.creavite.co/banner.gif">
</a>
<% include partials/footer %>
