<% include partials/header %>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/main-no-background.css">

<div class="ui page equal width grid">
        <h2 class="ui blue header about-us-subtitle"><i class="chevron right icon"></i> No events currently running.</h2>
        <br>
</div>
<br>
<p class="banner-text">Advertisement</p>
<a href="http://track.creavite.co/?ref=pim&site=codevision" target="_blank">
    <img class="banner" src="https://static.creavite.co/banner.gif">
</a>
<% include partials/footer %>