<% include ./partials/header %>
<div id="brand-title" class="ui huge header brand">Codevision</div>
<div id="brand-subtitle" class="ui huge header brand">Where programmers thrive</div>
<a id="first-button" href="https://discord.gg/r2xdWye" class="ui right labeled circular icon big float button">
    <i class="right arrow icon"></i>
    Join the Discord
</a>
<a id="second-button" href="/courses" class="ui right labeled circular icon big float button">
    <i class="right arrow icon"></i>
    View the Courses
</a>
<a id="third-button" href="/register" class="ui right labeled circular icon big float button">
    <i class="right arrow icon"></i>
    Create an Account
</a>

<% include ./partials/footer %>