.menu {
    padding: 20px;
}
.bars.large.icon {
    color: white;
}
.ui.vertical.segment {
    width: 100%;
}

body {
    background-image: url("../images/background-1-min.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.ui.huge.header {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 3em;
}

.ui.medium.header {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.ui.medium.header.white {
    color: white;
}

.ui.huge.header.white {
    color: white;
}

.ui.small.header {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.25em;
}

#brand-title {
    color: white;
    margin-top: 10%;
    font-size: 4em;
}

#brand-subtitle {
    color: white;
    font-size: 2em;
}

#menu-logo {
    background-image: url("../images/logo.png");
    width: 55px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ui.right.labeled.icon.massive.button {
    margin: 20px;
}

form {
    margin-top: 12.5%;
    margin-left: auto;
    margin-right: auto;
}

#courses.form {
    margin: 0;
}

.ui.labeled.icon.button-button {
    margin: 0 auto;
    text-align: center;
}

.ui[class*="right labeled"].icon.button.submit-section {
    width: 35%;
    margin: 0 auto;
}

.auth {
    width: 100%;
}

.ui.red.inverted.segment.flash-segment {
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.ui.blue.inverted.segment.flash-segment {
    width: 50%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.ui.secondary.pointing.menu .item {
    align-self: auto;
}

.ui.secondary.inverted.pointing.menu .item .brand {
    padding: 0;
}

.ui.form input[type=text], .ui.form input[type=email], .ui.form input[type=password] {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    transition: border 1s ease;
}

.ui.form input[type=text]:focus, .ui.form input[type=email]:focus, .ui.form input[type=password]:focus {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #0E6EB8;
    border-radius: 20px;
    transition: border 1s ease;
}

.ui.form input[type=text].white, .ui.form input[type=email].white, .ui.form input[type=password].white {
    color: white;
}

.white {
    color: white;
}

.white-bottom {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

.black-bottom {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.ui.form textarea {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    height: auto;
    transition: border 1s ease;
}

.ui.form textarea:focus {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #0E6EB8;
    border-radius: 20px;
    height: auto;
    transition: border 1s ease;
}

.ui.segment[class*="top attached"]:first-child {
    margin-top: 40px;
}

#courses-title {
    margin-top: 0.5em;
    font-family: 'Roboto';
    font-size: 75px;
    letter-spacing: 4px;
    font-weight: 100;
}

.ui.blue.header.about-us-subtitle {
    margin-top: 2em;
    font-family: 'Roboto';
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.ui.blue.header.about-us-text {
    font-family: 'Roboto';
    font-size: 20px;
    letter-spacing: 1.2px;
    font-weight: 200;
    color: black !important;
}

.ui[class*="top attached"].segment {
    margin-bottom: 5%;
}

#edit-course.ui[class*="right labeled"].icon.button {
    margin-top: 10px;
}

#edit-section.ui[class*="right labeled"].icon.button {
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}

#abort-edit-section.ui[class*="right labeled"].icon.button {
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
}


.ui.items>.item>.content>.header {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 3em;
}

form#delete-comment {
    display: inline;
}

.ui.items>.item>.content>.header.section {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.ui.header.section-content {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    margin-top: 0;
    margin-bottom: 0;
}

.ql-snow *.ql-editor {
    border: 1px solid white;
    height: 500px;
    width: 100%;
    transition: border 1s ease;
}

.ql-snow *.ql-editor:focus {
    border: 1px solid #0E6EB8;
    height: 500px;
    width: 100%;
    transition: border 1s ease;
}

.ui.form .field>label.white {
    color: white;
}

.ui.grid>.row#courses-row {
    margin-top: 50px;
}

#courses-grid {
    margin-bottom: 50px;
}

.item .field .ql-toolbar.ql-snow {
    display: none !important;
}

.item .field .ql-editor {
    border: 1px solid white;
    height: 100%;
    width: 100%;
    transition: border 1s ease;
}

.ql-container.ql-snow {
    border: 1px solid white !important;
}

img {
    width: 500px;
}

#profile  {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border: 5px solid #0E6EB8;
    border-radius: 100%;
}

#share_link {
    position: absolute;
    left: -9999px;
}

#error_grid {
    margin-top: 20px;
    display: block;
}

#error_code {
    color: white;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 7em;
}

#cat {
    margin: 0 auto;
    float: left;
}


/*
    QuillJS
*/

.item .field .ql-snow .ql-editor h1 {
    font-size: 3em !important;
}

.item .field .ql-snow .ql-editor h2 {
    font-size: 2em !important;
}

.item .field .ql-snow .ql-editor p {
    font-size: 1.5em !important;
}

.item .field .ql-snow .ql-editor span {
    font-size: 18px !important;
}

.item .field .ql-snow .ql-editor pre {
    font-size: 18px !important;
}